.profile-container {
  font-family: 'Roboto', sans-serif;
}

.profile-container h1 {
  font-size: 24px;
  color: #7C55FB;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1.2px;
  text-align: center;

  text-transform: uppercase;
}

.profile-fields-container {
  max-width: 740px;
  min-height: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: #ccc 1px 1px 4px;
  position: relative;
}

.profile-fields-container .profile-image-container {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-color: #C786A6;
}


.profile-fields-container .profile-image-container img {
  height: 128px;
  border-radius: 50%;
  margin-left: auto;
  margin-right:auto;
  position: relative;
  top:40px;
  display: block;
}

.profile-fields-container i {
  font-size: 14px;
  color: #89969F;
  padding-left: 26px;
  padding-right: 10px;
  margin-top: 24px;
}

.profile-fields-container input[type=text].field-text {
  height: 12px;
  width: 280px;
  border: 1px solid #89969F;
  border-radius: 4px;
  padding: 10px;
}

.profile-fields-container input[type=text].field-text::placeholder {
  color: rgba(102,102,102,0.2);
}

.profile-save-button-container {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  height: 100px;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-save-button {
  background-color: #7C55FB;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.profile-save-button:disabled {
  background-color: #F0EEEB;
  border-color: #F0EEEB;
  cursor: not-allowed;
}

.topnav {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  background-color: #7C4DFF;
  height: 50px;
  color: #fff;
}

.topnav .logo {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 32px;
  padding-right: 80px;
  position: relative;
  top: -8px;
  left: 28px;
}

.topnav .menu-item {
  display: inline-block;
  font-size: 10px;
  line-height: 13px;
  width: 100px;
  height: 100%;
  text-align: center;
}

.topnav .menu-item i {
  font-size: 24px;
  margin-top:8px;
  margin-bottom: 2px;
}

.topnav .profile-menu {
  float: right;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0.25);
}

.topnav .profile-menu img {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top:10px;
  cursor: pointer;
}

.loading-image {
  text-align: center;
  margin-top: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* css class for the edit profile generated errors */
.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {
  background: #f0f0f0;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #3399cc;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="password"], div#sc-edprofile select, div#sc-edprofile textarea {
  width: 92%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

div#sc-edprofile select {
  width: 100%;
}

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
  width: 100%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

div#sc-edprofile input[type="submit"]:hover {
  background: #2288bb;
}

form{
  background-color: #32465a;
  margin-bottom: 10%;

}
#formgeneral{
  margin-left: 10%;
}
