    <svg viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Developers</text>
        </symbol>

        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>

    <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">

    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5"></p>

    <!-- Grid row -->
    <div class="row text-center">

        <!-- Grid column -->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">
            <div class="avatar mx-auto">
                <img src="assets/images/carlos.jpeg" class="rounded z-depth-1-half" alt="Carlos Gómez Colmenero">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Carlos Gómez Colmenero</h4>
            <!-- GitHub-->
            <a type="button"  href="https://github.com/golmenero" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5" style="margin-top: 10%;">
            <div class="avatar mx-auto">
                <img src="assets/images/laura.jpg" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Laura Marcela Sánchez Peláez</h4>
            <!-- GitHub-->
            <a type="button"  href="https://github.com/Lamasape" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img src="assets/images/victor.jpeg" class="rounded z-depth-1-half" alt="Víctor Chaves">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Victor Chaves García</h4>
            <!-- GitHub-->
            <a type="button" href="https://github.com/Naive96" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">
           <p></p>
            <div class="avatar mx-auto">
                <img src="assets/images/enrique.jpeg" class="rounded z-depth-1-half" alt="Enrique Fernández Manzano">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Enrique Fernández Manzano</h4>
            <!-- GitHub-->
            <a type="button" href="https://github.com/enriquefdez5"  class="btn-floating btn-sm mx-1 mb-0 btn-git">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Grid column -->
        <div class="col-md-4">
            <div class="avatar mx-auto">
                <img src="" class="rounded z-depth-1-half" alt="">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4"> </h4>
            <h6 class="text-uppercase grey-text mb-3"><strong></strong></h6>

        </div>

        <!-- Grid column -->
        <div class="col-md-4">
            <p></p>
            <div class="avatar mx-auto">
                <img src="assets/images/jose.jpeg" class="rounded z-depth-1-half" alt="José Luis Bugallo González">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">José Luis Bugallo González </h4>

            <!-- GitHub-->
            <a type="button"  href="https://github.com/joseluisbugallo" class="btn-floating btn-sm mx-1 mb-0 btn-git">
                <i class="fab fa-github"></i>
            </a>
        </div>


        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Team v.2 -->
