#chatbox {
    text-align:left;
    padding:10px;
    background:#666666;
    height: 400px;
    border:1px solid #7C55FB;
    overflow:auto; }
#menu {
    background-color: #7C55FB;
}

#writemessage{
    margin-bottom: 200px;
}

#usermsg{
    width: 95%;
    background-color: #89969F;
    height: 80%;
}

#submitmsg{
    background-color: #7C4DFF;
}
