<div id="wrapper">
    <div id="menu">
        <div class="welcome"> <i class="fas fa-comments"  > DECHAT_ES5A</i> </div>
        <div style="clear:both"></div>
    </div>

    <div class = "float-right" id="chatbox">
        <ul>
            <li *ngFor="let message of messages">{{message.content}}</li>
            
       </ul>
        
        
        <p id ="pchatbox"></p>
    </div>
<div id="writemessage">
    <form name="message" action="" >
        <input name="usermsg" type="text" id="usermsg" size="140" />
        <button (click)="createNewMessage()" id="submitmsg"><i class="fas fa-arrow-circle-right"  style="font-size: 35px;"></i></button>
        <button (click)="hackingFriendFolder()" id="updatemsg"><i class="btn btn-primary"  style="font-size: 20px;">Actualizar</i></button>
    </form>
</div>

</div>
