<div>


</div>


<div class="pure-u-1-1 pure-u-md-1-2 form-group">

  <h1>Ventana Chat</h1>

  <button (click)="createNewFolder()" class="wide-button profile-save-button"> Test crear carpeta </button>
  <button (click)="createNewMessage()" class="wide-button profile-save-button"> Test crear fichero </button>
  <button (click)="readMessage()" class="wide-button profile-save-button"> Test read message </button>
  <input type=text placeholder="Aquí iría el mensaje" id="messageField">
  <div class="one" [innerHtml]="htmlToAdd"></div>
</div>


