<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DECHAT_ES5A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-button" routerLink="/card">Mi perfil </a>
    <a class="navbar-button" routerLink="/friends"> Lista de amigos</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>
