<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Solid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="barra">
        <li class="left"><a class="navbar-button" routerLink="/card">My Profile </a></li>
        <li class="left"><a class="navbar-button" routerLink="/friends"> Friends list</a></li>
        <li class="left"><a class="navbar-button" href="https://arquisoft.github.io/dechat_es5a/" > Documentation </a></li>
        <li class="right"><a class="navbar-logout" [routerLink]='login' (click)="logout()"> Logout</a></li>
    </ul>






    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>
