html {
    position: relative;
    min-height: 100%;
}
.navbar-inverse {
    background-color: #60A713;
}

.navbar-button {
    border-radius: 25px;
    border: 2px solid #7C55FB;
    padding: 5px;
    margin: 5px;
    color: #fff;
    background-color: #7C55FB;


}
